{% extends 'base.html.twig' %}

{% block title %}Accueil - Boutique QUENOUILLERE{% endblock %}

{% block body %}
<h2 style="text-align:center">Les produits les plus récents</h2>
    <table class="table">
            <thead>
                <tr>
                    <th style="min-width: 160px;">Nom</th>
                    <th style="min-width: 60px;">Prix</th>
                    <th>Description</th>
                    <th>Crée le</th>
                </tr>
            </thead>
            <tbody>
            {% for product in MostRecentProducts %}
                <tr class="card-user">
                    <td><a href="./product/{{ product.id}}">{{ product.name}}</a></td>
                    <td>{{ product.price}} €</td>
                    <td>
                    {% if product.description | length > 300 %}
                        {{product.description | slice(0, 300) }}
                        <a href="./product/{{ product.id}}">... voir plus</a>
                    {% else %}
                        {{product.description}}
                    {% endif %}
                    </td>
                    <td>{{ product.createdAt |date('d-m-Y')}}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    
    <h2 style="text-align:center">Les articles les moins chères</h2>
    <table class="table">
            <thead>
                <tr>
                    <th style="min-width: 160px;">Nom</th>
                    <th style="min-width: 60px;">Prix</th>
                    <th>Description</th>
                    <th>Crée le</th>
                </tr>
            </thead>
            <tbody>
            {% for product in LessPriceProducts %}
                <tr class="card-user">
                    <td><a href="./product/{{ product.id}}">{{ product.name}}</a></td>
                    <td>{{ product.price}} €</td>
                    <td>
                    {% if product.description | length > 300 %}
                        {{product.description | slice(0, 300) }}
                        <a href="./product/{{ product.id}}">... voir plus</a>
                    {% else %}
                        {{product.description}}
                    {% endif %}
                    </td>
                    <td>{{ product.createdAt |date('d-m-Y')}}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% endblock %}
