{% extends 'base.html.twig' %}

{% block title %}Commande #{{ command.id }}{% endblock %}
{% block javascripts %} 

{% endblock %}
{% block body %}

    <h1 data-id="{{ command.id }}">Commande #{{ command.id }}</h1>
    <h2>Email : {{command.email}} </h2>

    <table class="user">
            <thead>
                <tr>
                    <th>N° d'article</th>
                    <th>Nom</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="card-user">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} €</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    <h4>Prix total : {{ totalPrice}} €</h4>
        
    </div>
{% endblock %}
