{% extends 'base.html.twig' %}

{% block title %}Commande #{{ command.id }}{% endblock %}
{% block javascripts %} 

{% endblock %}
{% block body %}

    <h1 data-id="{{ command.id }}">Commande #{{ command.id }}</h1>
    <h4><b>Liste des produits commandés</b></h4>

    <table class="table">
            <thead>
                <tr>
                    <th>N° d'article</th>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="card-user">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>1</td>
                    <td>{{ product.price }} €</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    <h4><b>Email :</b> {{command.email}} </h4>
    <h4><b>Prix total :</b> {{ totalPrice}} €</h4>
        
    </div>
{% endblock %}
